<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AddBike</title>
    <!--<link href="../static/css/addBike.css" th:href="@{/static/css/addBike.css}" rel="stylesheet"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script  th:src="@{/js/addBike.js}"></script>-->
</head>
<body style="background-color: 	#ADD8E6;">

<div style="background-color: #FDF5E6; height: 50px;">
    <a href="/home">Home</a>
</div>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #B0C4DE; padding: 20px; border: solid 1px #ddd;">
        <h1> Add a bike </h1>

        <form th:action="@{/addBike}" method="post" enctype="multipart/form-data">
            <label>Select type</br><select style="margin-right: 100px;" name="type" id="type">
                <option value="MOUNTAIN"> Mountain bike</option>
                <option value="ROAD"> Road bike</option>
                <option value="ELECTRIC"> Electric bike</option>
            </select>
            </label>
            </br>
            <label>Select size</br><select style="margin-right: 100px;" name="size" id="size">
                <option value="CHILD"> Child</option>
                <option value="FEMALE"> Female</option>
                <option value="MALE"> Male</option>
            </select>
            </label>
            </br>
            <label>Select price per day</br><input style="margin-right: 100px;" type="number" name="price"
                                              id="price" required/></label>

            </br>

            <h2>Upload Image : </h2>

            <input type="file" multiple="false" accept="image/*" name="image" id="image" onchange="readURL(this);" required/>
            <img id="blah" alt="your image"/>
            <script th:inline="javascript">

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                 var image = document.getElementById('blah');
                               image.src= e.target.result;
                             <!--image.height = 200px;-->
                            <!--image.width = 200px;-->
                };
                reader.readAsDataURL(input.files[0]);

            }
        }


            </script>
        </br>
            <input type="submit" value="AddBike"/>
        </form>
    </div>


</div>


</body>

</html>

