<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user info</title>
</head>
<body style="background-color: 	#ADD8E6;">

<h1>Personal bikes:</h1>
<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bike : ${bike}">
        <form action="/delete" th:action="@{/delete}"  method="post">
            <td th:text="${bike.type}"  >Text../ </td>
            <td th:text="${bike.size}" >Text../ </td>
            <td  th:text="${bike.price}" >Text../ </td>
            <td  th:img="${bike.image}" >Text../ </td>
            <td>
                <input type="hidden" th:value="${bike.id}" name="id">
                <input type="hidden" th:value="${bike.userId}" name="userId">
                <input type="hidden" th:value="${bike.type}" name="type">
                <input type="hidden" th:value="${bike.size}" name="size">
                <input type="hidden" th:value="${bike.price}" name="price">
                <input type="hidden" th:value="${bike.image}" name="image">
                <input type = "submit" value = "Select" />


            </td>
        </form>
    </tr>

    </tbody>
</table>

</body>
</html>