<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditBike</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body style="background-color: 	#99A976;">

<div style="background-color: #99A976; height: 200px;">
    <img src="../static/images/logo2.jpeg" width="200px" height="200px" style="display:block;margin-left:auto; margin-right:auto;"
         th:src="@{images/logo2.jpeg}">
</div>
<div class="container-fluid">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 20px; background-color: #D9EAD3; padding: 20px; border: solid 1px #ddd;">
        <h1> Edit bike </h1>
        <!--    action="#" -->
        <form action = "/listPersonalBikes" th:action="@{/editBike}" method="post" enctype="multipart/form-data">
            <label>Type</br><select style="margin-right: 100px;" name="type" id="type">
                <option value="MOUNTAIN"> Mountain bike</option>
                <option value="ROAD"> Road bike</option>
                <option value="ELECTRIC"> Electric bike</option>
            </select>
            </label>
            </br>
            <label>Select size</br><select style="margin-right: 100px;" name="size" id="size">
                <option value="CHILD"> Child</option>
                <option value="FEMALE"> Female</option>
                <option value="MALE"> Male</option>
            </select>
            </label>
            </br>
            <label>Select price per day</br><input style="margin-right: 100px;" type="number" name="price"
                                                   id="price" required/></label>

            </br>
            <input type="hidden" th:value="${bike.id}" name="id">
            <h2>Upload Image : </h2>

            <input type="file" multiple="false" accept="image/*" name="image" id="image" onchange="readURL(this);" required/>
            <img id="showImage" height="150px" width="150px" alt="your image"/>
            <script th:inline="javascript">

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                        var image = document.getElementById('showImage');
                               image.src= e.target.result;

                        };
                        reader.readAsDataURL(input.files[0]);

                    }
                }


            </script>
            </br>
            <input type="submit" value="Edit Bike"/>
        </form>
    </div>


</div>


</body>
</html>