<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: 	#99A976;">

<div style="background-color: #99A976; height: 200px;">
    <img src="../static/images/logo2.jpeg" width="200px" height="200px"
         style="display:block;margin-left:auto; margin-right:auto;"
         th:src="@{images/logo2.jpeg}">
</div>
<div class="container-fluid">

    <div class="row col-lg-4 col-lg-offset-4"
         style="margin-top: 20px; background-color: #D9EAD3; padding: 20px; border: solid 1px #ddd;">
<table>
<tr>
    <th>Bike owner name:  </th>
    <th th:text="${owner.firstName}">...!...</th>
    <th th:text="${owner.lastName}">...!...</th>
</tr>
<tr>
    <th>Contact details: </th>
    <th colspan="2" th:text="${owner.userdetails}">...!...</th>
</tr>
</table>
    </div>
</div>
</body>

</html>